body {
    font-family: Arial, Helvetica, sans-serif;
   margin: 0 auto; 
}

 .fix_bar {
   display: flex;
   margin: 0 10px;
 }

.nav {
  list-style: none ;  
  color: black;
  display: flex;
  align-items: center;
  gap: 30px;

}

 .a_nav {
    text-decoration: none;
    color:black;
}

.nav li a {
    min-width: 200px;
}


.nav_right {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    border-radius: 25px;
    border: 1px solid;
    padding: 10px 20px;
    font-size: 20px;
    padding: 15px 35px;
    cursor: pointer;
}

.btn:hover {
background-color:white;
color:black;
}

.btn--nav {
    color:#166aea;
    border: 1px solid #166aea;
    background-color: white;
}

.btn--container {
    color:white;
    background-color: black;
    border: 1px solid black; 
    margin-top: 30px
}

main {
    background-color: #F3EFE5;
}
.container {
    height:100%;
    margin: 0 100px ;
    padding: 50px 0;
    width: 100;
}

h1 {
    font-size: 64px;
    font-weight: normal;
    width: 100%;
}

.flex_box {
    display: flex;
    flex-wrap: wrap;;
}

.box {
    height: 100%;
    line-height: 30px;
    width: 300px;
    margin-right: 40px;
}

.box_title {
    font-weight: bold;
    font-size: 20px;
}

.box_description {
    font-size: 20px;
}