label {
  font-weight: 400;
  font-weight: 200;
  font-size: 12px;
  margin-bottom: 6px;
  color: #3E3E3C;
  line-height: 18px;
}

input {
  height: 20px;
  padding: 5px;
  border-radius: 4px;
  border: white;
  width: 200px;

}

.flex_inputs {
display: flex;
justify-content: left;
gap: 40px;
padding: 15px;
}

.icon_container {
position: relative;
}

.icon_container img {
  width: 20px;
  height: 20px;
  }

.icon_container textarea {
  position: relative;
  
  }
  .search-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.focus input {
 border: 2px  solid #1589EE;
 box-shadow: 0px 0px 3px 0px #0070D2;
 margin-left: -2px;
}

.focus input:focus {
  border: 2px solid blue;
  box-shadow: 0px 0px 3px 0px;
  outline: none;
}

.error input {
  border: 2px  solid #C23934;
 }
 
 .error input:focus {
   border: 2px solid #C23934;
   box-shadow: 0px 0px 3px 0px;
   outline: none;
 }

 .error--message {
font-size: 12px;
font-weight: 400;
line-height: 18px;
text-align: left;
color: #C23934;

 }

 .icon_error {
  position: relative;
 }


 .search-icon-error {
  position: absolute;
  top: 32%;
  right: 10px;
  transform: translateY(-50%);
 }
